<header>
  <app-navbar></app-navbar>
</header>

<main>
  <section
    class="h-[70vh] bg-slate-950 text-white flex items-center justify-center"
  >
    <div class="text-center px-6">
      <h1 class="text-5xl md:text-7xl font-bold mb-6">
        Movie Explorer
      </h1>

      <p class="text-lg md:text-2xl text-slate-300">
        Descubre las mejores películas del momento
      </p>
    </div>
  </section>

  <section class="max-w-7xl mx-auto px-6 py-16">
    <h2 class="text-4xl font-bold mb-10">
      Películas populares
    </h2>

    <div
      class="
        grid
        grid-cols-1
        sm:grid-cols-2
        md:grid-cols-3
        lg:grid-cols-4
        gap-8
      "
    >
    @if (isLoading()) {
        
        @for (skeleton of [1,2,3,4,5,6,7,8]; track $index) {
          <div class="bg-slate-900 rounded-xl overflow-hidden shadow-lg border border-slate-800 animate-pulse">
            <div class="w-full h-96 bg-slate-800"></div>
            <div class="p-4 space-y-3">
              <div class="h-5 bg-slate-800 rounded w-5/6"></div>
              <div class="flex justify-between items-center pt-2">
                <div class="h-4 bg-slate-800 rounded w-1/4"></div>
                <div class="h-6 bg-slate-800 rounded-full w-12"></div>
              </div>
            </div>
          </div>
        }

      } @else {

        @for (movie of movies(); track movie.id) {
          <app-movie-card
            [movieId]="movie.id"
            [title]="movie.title"
            [image]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            [rating]="movie.vote_average"
          >
          </app-movie-card>
        } @empty {
          <div class="col-span-full text-center py-12 text-slate-400">
            <p>No se encontraron películas disponibles en este momento.</p>
          </div>
        }

      }
      
    </div>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>